<div
  class="modal fade"
  id="pokemonDetailModal"
  tabindex="-1"
  aria-labelledby="pokemonDetailModalLabel"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content border-0 rounded-4 custom-modal">
      <div
        class="modal-header position-relative border-0"
        [ngStyle]="{
          background: getTypeGradient(selectedPokemon?.tipos || [])
        }"
      >
        <h1 class="modal-title fs-4 text-center w-100 text-white">
          {{ selectedPokemon?.name }}
        </h1>
        <button
          type="button"
          class="btn-close btn-close-white position-absolute top-0 end-0 m-2"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body p-4">
        <div class="row g-4 align-items-center">
          <!-- Imagen -->
          <div class="col-md-4 text-center">
            <img
              [src]="selectedPokemon?.imagenUrl"
              alt="{{ selectedPokemon?.name }}"
              class="img-fluid rounded-3 shadow"
            />
          </div>

          <!-- Información -->
          <div class="col-md-8">
            <div class="mb-3">
              <strong class="fw-bold">Types:</strong>
              <div class="d-flex flex-wrap gap-2 mt-2">
                <span
                  *ngFor="let type of selectedPokemon?.tipos"
                  class="badge rounded-pill px-3 py-2"
                  [ngStyle]="{ background: getTypeColor(type), color: '#fff' }"
                >
                  {{ type }}
                </span>
              </div>
            </div>

            <div class="mb-3">
              <strong class="fw-bold">Description:</strong>
              <p class="text-muted small mt-1">
                {{ selectedPokemon?.description }}
              </p>
            </div>

            <div class="mb-3">
              <strong class="fw-bold">Abilities:</strong>
              <div class="d-flex flex-wrap gap-2 mt-2">
                <span
                  *ngFor="let habilidad of selectedPokemon?.habilidades"
                  class="badge bg-success rounded-pill px-3 py-2"
                >
                  {{ habilidad }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer border-0">
        <button
          type="button"
          class="btn btn-outline-secondary rounded-pill px-4"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
